.logo {
    border: 1px solid;
}

.my-page-nav .nav-link.active {
    color: var(--bs-gray);
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.nav-link.active:hover {
    text-decoration: none;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}
body {
    margin-bottom: 60px; /* Margin bottom by footer height */
}
footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px; /* Set the fixed height of the footer here */
    line-height: 60px; /* Vertically center the text there */
    background-color: #f5f5f5;
}
