<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <link href="css/style.css" rel="stylesheet" >
    <script src="https://kit.fontawesome.com/8d3d5e579a.js" crossorigin="anonymous"></script>
</head>
<body>

<!-- NAV -->
<nav class="py-2 bg-light border-bottom my-page-nav">
    <div class="container d-flex flex-wrap">
        <ul class="nav me-auto">
            <li class="nav-item"><a href="#" class="nav-link link-dark px-2 active" aria-current="page">Home</a></li>
            <li class="nav-item"><a href="#" class="nav-link link-dark px-2">Funkcje</a></li>
            <li class="nav-item"><a href="#" class="nav-link link-dark px-2">Współpraca</a></li>
            <li class="nav-item"><a href="#" class="nav-link link-dark px-2">Cennik</a></li>
            <li class="nav-item"><a href="#" class="nav-link link-dark px-2">FAQs</a></li>
            <li class="nav-item"><a href="#" class="nav-link link-dark px-2">O nas</a></li>
        </ul>
        <div class="col-4 d-flex justify-content-end align-items-center">
            <a class="btn btn-sm btn-outline-primary mx-1" href="#">Logowanie</a>
            <a class="btn btn-sm btn-primary" href="#">Rejestracja</a>
        </div>
    </div>
</nav>
<!-- END NAV -->
<!-- HEADER -->
<header class="py-3 mb-4 border-bottom">
    <div class="container d-flex flex-wrap justify-content-between">
        <a href="index.html" class="d-inline-flex align-items-center text-dark text-decoration-none">
            <span class="fs-4">
            <i class="fa fa-gift"></i>
                Demo Oferty
            </span>
        </a>
        <span class="d-inline-flex align-items-center ml-auto">
            Cześć, {{ user.name }}.
        </span>
    </div>
</header>
<!-- END HEADER -->

<main>

    <!-- HERO HEADER -->
<!--    <section class="py-5 container text-center">-->
    <section class="py-5 container">
        <div class="row py-lg-2">
            <div class="col-lg-6 col-md-8 mx-auto">
                <h4 class="fw-light">Wyszukiwanie</h4>
<!--                <p class="lead text-muted">{{ search lead }}</p>-->

                <form class="" action="search.html" method="get">
                    <div class="row g-3">
                        <div class="col-sm-12">
                            <label for="search" class="form-label">Szukaj w treści ogłoszenia</label>
                            <input type="text" class="form-control" id="search" placeholder="" value="">
                            <div class="invalid-feedback">
                                {{  field.error }}
                            </div>
                        </div>

                        <div class="col">
                            <label for="province" class="form-label">Województwo</label>
                            <select class="form-select" id="province">
                                <option value="">W całej Polsce...</option>
                                <option>Province 1</option>
                                <option>Province 2</option>
                            </select>
                            <div class="invalid-feedback">
                                {{  field.error }}
                            </div>
                        </div>

<!--                        <div class="col">-->
<!--                            <label for="community" class="form-label">Gmina</label>-->
<!--                            <select class="form-select" id="community">-->
<!--                                <option value="">Wszystkie...</option>-->
<!--                                <option>m. Gdańsk</option>-->
<!--                                <option>Gdański</option>-->
<!--                            </select>-->
<!--                            <div class="invalid-feedback">-->
<!--                                {{  field.error }}-->
<!--                            </div>-->
<!--                        </div>-->

                        <div class="col">
                            <label for="type" class="form-label">Rodzaj</label>
                            <select class="form-select" id="type">
                                <option value="">Dowolny...</option>
                                <option>Ategory</option>
                                <option>Bategory</option>
                                <option>Category</option>
                                <option>Dategory</option>
                                <option>Etegory</option>
                            </select>
                            <div class="invalid-feedback">
                                {{  field.error }}
                            </div>
                        </div>
                    </div>

                    <div class="d-flex justify-content-between align-items-center my-2">
                        <div class="mt-2">
                            <button type="submit" class="btn btn-primary">Szukaj</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </section>
    <!-- END HUGE HEADER -->

    <div class="album py-5 bg-light">
        <div class="container col-lg-8">


            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">

                <div class="col">
                    <a href="search.html" class="card align-items-center">
                        <img src="{{ item.thumbnail }}" aria-label="{{ item.title }}: Thumbnail" width="100%" height="225" alt="">
                        <div class="card-body">
                            <h5 class="card-title">Ategory</h5>
                        </div>
                    </a>
                </div>

                <div class="col">
                    <a href="search.html" class="card align-items-center">
                        <img src="{{ item.thumbnail }}" aria-label="{{ item.title }}: Thumbnail" width="100%" height="225" alt="">
                        <div class="card-body">
                            <h5 class="card-title">Bategory</h5>
                        </div>
                    </a>
                </div>

                <div class="col">
                    <a href="search.html" class="card align-items-center">
                        <img src="{{ item.thumbnail }}" aria-label="{{ item.title }}: Thumbnail" width="100%" height="225" alt="">
                        <div class="card-body">
                            <h5 class="card-title">Category</h5>
                        </div>
                    </a>
                </div>

                <div class="col">
                    <a href="search.html" class="card align-items-center">
                        <img src="{{ item.thumbnail }}" aria-label="{{ item.title }}: Thumbnail" width="100%" height="225" alt="">
                        <div class="card-body">
                            <h5 class="card-title">Dategory</h5>
                        </div>
                    </a>
                </div>

                <div class="col">
                    <a href="search.html" class="card align-items-center">
                        <img src="{{ item.thumbnail }}" aria-label="{{ item.title }}: Thumbnail" width="100%" height="225" alt="">
                        <div class="card-body">
                            <h5 class="card-title">Etegory</h5>
                        </div>
                    </a>
                </div>

            </div>
        </div>
    </div>

</main>

<footer class="border-top bg-light text-muted">
    <div class="container">
        <span>{{ footer }}</span>
        <span>{{ copyrights }}</span>
        <span>{{ rodo }}</span>
    </div>
</footer>

</body>
</html>