<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <link href="css/style.css" rel="stylesheet" >
    <script src="https://kit.fontawesome.com/8d3d5e579a.js" crossorigin="anonymous"></script>
</head>
<body>

<!-- NAV -->
<nav class="py-2 bg-light border-bottom my-page-nav">
    <div class="container d-flex flex-wrap">
        <ul class="nav me-auto">
            <li class="nav-item"><a href="#" class="nav-link link-dark px-2 active" aria-current="page">Home</a></li>
            <li class="nav-item"><a href="#" class="nav-link link-dark px-2">Funkcje</a></li>
            <li class="nav-item"><a href="#" class="nav-link link-dark px-2">Współpraca</a></li>
            <li class="nav-item"><a href="#" class="nav-link link-dark px-2">Cennik</a></li>
            <li class="nav-item"><a href="#" class="nav-link link-dark px-2">FAQs</a></li>
            <li class="nav-item"><a href="#" class="nav-link link-dark px-2">O nas</a></li>
        </ul>
        <div class="col-4 d-flex justify-content-end align-items-center">
            <a class="btn btn-sm btn-outline-primary mx-1" href="#">Logowanie</a>
            <a class="btn btn-sm btn-primary" href="#">Rejestracja</a>
        </div>
    </div>
</nav>
<!-- END NAV -->
<!-- HEADER -->
<header class="py-3 mb-4 border-bottom">
    <div class="container d-flex flex-wrap justify-content-between">
        <a href="index.html" class="d-inline-flex align-items-center text-dark text-decoration-none">
            <span class="fs-4">
            <i class="fa fa-gift"></i>
                Demo Oferty
            </span>
        </a>
        <span class="d-inline-flex align-items-center ml-auto">
            Cześć, {{ user.name }}.
        </span>
    </div>
</header>
<!-- END HEADER -->

<main>

</main>

<footer class="border-top bg-light text-muted">
    <div class="container">
        <span>{{ footer }}</span>
        <span>{{ copyrights }}</span>
    </div>
</footer>

</body>
</html>