<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <link href="css/style.css" rel="stylesheet" >
    <script src="https://kit.fontawesome.com/8d3d5e579a.js" crossorigin="anonymous"></script>
</head>
<body>

<!-- NAV -->
<nav class="py-2 bg-light border-bottom my-page-nav">
    <div class="container d-flex flex-wrap">
        <ul class="nav me-auto">
            <li class="nav-item"><a href="#" class="nav-link link-dark px-2 active" aria-current="page">Home</a></li>
            <li class="nav-item"><a href="#" class="nav-link link-dark px-2">Funkcje</a></li>
            <li class="nav-item"><a href="#" class="nav-link link-dark px-2">Współpraca</a></li>
            <li class="nav-item"><a href="#" class="nav-link link-dark px-2">Cennik</a></li>
            <li class="nav-item"><a href="#" class="nav-link link-dark px-2">FAQs</a></li>
            <li class="nav-item"><a href="#" class="nav-link link-dark px-2">O nas</a></li>
        </ul>
        <div class="col-4 d-flex justify-content-end align-items-center">
            <a class="btn btn-sm btn-outline-primary mx-1" href="#">Logowanie</a>
            <a class="btn btn-sm btn-primary" href="#">Rejestracja</a>
        </div>
    </div>
</nav>
<!-- END NAV -->
<!-- HEADER -->
<header class="py-3 mb-4 border-bottom">
    <div class="container d-flex flex-wrap justify-content-between">
        <a href="index.html" class="d-inline-flex align-items-center text-dark text-decoration-none">
            <span class="fs-4">
            <i class="fa fa-gift"></i>
                Demo Oferty
            </span>
        </a>
        <span class="d-inline-flex align-items-center ml-auto">
            Cześć, {{ user.name }}.
        </span>
    </div>
</header>
<!-- END HEADER -->

<main>

    <!-- HERO HEADER -->
    <!--    <section class="py-5 container text-center">-->
    <section class="py-5 container">
        <div class="row py-lg-2">
            <div class="col-lg-6 col-md-8 mx-auto">
                <h4 class="fw-light">Wyszukiwanie</h4>
                <!--                <p class="lead text-muted">{{ search lead }}</p>-->

                <form class="" action="">
                    <div class="row g-3">
                        <div class="col-sm-12">
                            <label for="search" class="form-label">Szukaj w treści ogłoszenia</label>
                            <input type="text" class="form-control" id="search" placeholder="" value="" required="">
                            <div class="invalid-feedback">
                                {{  field.error }}
                            </div>
                        </div>


                        <div class="col">
                            <label for="province" class="form-label">Województwo</label>
                            <select class="form-select" id="province" required="">
                                <option value="">W całej Polsce...</option>
                                <option>Province 1</option>
                                <option>Province 2</option>
                            </select>
                            <div class="invalid-feedback">
                                {{  field.error }}
                            </div>
                        </div>

                        <!--                        <div class="col">-->
                        <!--                            <label for="community" class="form-label">Gmina</label>-->
                        <!--                            <select class="form-select" id="community" required="">-->
                        <!--                                <option value="">Wszystkie...</option>-->
                        <!--                                <option>m. Gdańsk</option>-->
                        <!--                                <option>Gdański</option>-->
                        <!--                            </select>-->
                        <!--                            <div class="invalid-feedback">-->
                        <!--                                {{  field.error }}-->
                        <!--                            </div>-->
                        <!--                        </div>-->

                        <div class="col">
                            <label for="type" class="form-label">Rodzaj</label>
                            <select class="form-select" id="type" required="">
                                <option value="">Dowolny...</option>
                                <option>Dom</option>
                                <option>Mieszkanie</option>
                                <option>Działka</option>
                            </select>
                            <div class="invalid-feedback">
                                {{  field.error }}
                            </div>
                        </div>
                    </div>
                    <div class="d-flex justify-content-between align-items-center my-2">
                        <div class="mt-2">
                            <button type="submit" class="btn btn-primary">Szukaj</button>
                        </div>
                        <div>
                            <a href="#" class="">Utwórz powiadomienie</a>
                        </div>
                    </div>
                </form>

            </div>
        </div>
    </section>
    <!-- END HUGE HEADER -->

    <div class="album py-5 bg-light">
        <div class="container">

            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">

                <div class="col">
                    <div class="card shadow-sm">

                        <img src="{{ item.thumbnail }}" aria-label="{{ item.title }}: Thumbnail" width="100%" height="225">
                        <div class="card-body">
                            <h3><a href="offer.html">{{ offer title }}</a></h3>
                            <p class="card-text">{{ offer short description card }}</p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-sm btn-outline-dark">view</button>
                                    <button type="button" class="btn btn-sm btn-outline-dark">follow</button>
                                </div>
                                <strong class="text-success">{{ price.lowest }}</strong>
                            </div>
                            <div class="d-flex justify-content-between align-items-center">
                                <small class="text-muted">{{ offers.count }} offers</small>
                                <small class="text-muted"><s>{{ price.before }}</s></small>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card shadow-sm">

                        <img src="{{ item.thumbnail }}" aria-label="{{ item.title }}: Thumbnail" width="100%" height="225">
                        <div class="card-body">
                            <h3><a href="offer.html">{{ offer title }}</a></h3>
                            <p class="card-text">{{ offer short description card }}</p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-sm btn-outline-dark">view</button>
                                    <button type="button" class="btn btn-sm btn-outline-dark">follow</button>
                                </div>
                                <strong class="text-success">{{ price.lowest }}</strong>
                            </div>
                            <div class="d-flex justify-content-between align-items-center">
                                <small class="text-muted">{{ offers.count }} offers</small>
                                <small class="text-muted"><s>{{ price.before }}</s></small>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card shadow-sm">

                        <img src="{{ item.thumbnail }}" aria-label="{{ item.title }}: Thumbnail" width="100%" height="225">
                        <div class="card-body">
                            <h3><a href="offer.html">{{ offer title }}</a></h3>
                            <p class="card-text">{{ offer short description card }}</p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-sm btn-outline-dark">view</button>
                                    <button type="button" class="btn btn-sm btn-outline-dark">follow</button>
                                </div>
                                <strong class="text-success">{{ price.lowest }}</strong>
                            </div>
                            <div class="d-flex justify-content-between align-items-center">
                                <small class="text-muted">{{ offers.count }} offers</small>
                                <small class="text-muted"><s>{{ price.before }}</s></small>
                            </div>
                        </div>
                    </div>
                </div>



            </div>
        </div>
    </div>

</main>

<footer class="border-top bg-light text-muted">
    <div class="container">
        <span>{{ footer }}</span>
        <span>{{ copyrights }}</span>
    </div>
</footer>

</body>
</html>